body {
  margin: 0 0rem;
  background-color: #e1e5ec;
  font-family: Arial, sans-serif;
  color: #293845;
}

@keyframes enter {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  text-align: center;
  border-bottom: 2px solid #29384533;
  padding-bottom: 1.5rem;
}

h4 {
  color: #29384583;
}

.page-content {
  padding: 2rem;

  /* animation */
  opacity: 0;
  transform: translateY(12px);
  animation: enter 0.6s ease-out forwards;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0rem 0rem 1rem;
}

form label {
  font-weight: bold;
}

form input {
  width: 100%;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form button {
  padding: 0.5rem;
  background-color: #f1ce59;
  border: 2px solid #f1ce59;
  border-radius: 4px;
  color: #293845;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

form button:hover {
  border: 2px solid #293845;
}

#rugPullButton {
  padding: 0.5rem;
  background-color: #cc3434;
  border: 2px solid #cc3434;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  width: 100%;
}

#rugPullButton:hover {
  border: 2px solid #ffffff;
}

.navbar {
  display: flex;
  align-items: center;

  padding: 0.5rem 2rem;

  border-radius: 0 0 8px 8px;

  background-color: #f1ce59;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar #brand {
  display: flex;
  align-items: center;
  justify-content: left;

  text-decoration: none;
  color: #293845;
  font-weight: bold;

  margin-right: auto;
}

.navbar #user-links {
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar a {
  text-decoration: none;
  color: #293845;
  margin: 0 1rem;
  font-weight: bold;
}

.about-page p {
  line-height: 1.6;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 0.5rem;
}

.home-page a {
  color: #293845;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  background-color: #fcfdff;
  border: 2px solid #fcfdff;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.home-page a:hover {
  border: 2px solid #293845;
}

.coin-list {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #29384533;
  border-radius: 8px;
}

.coin-item {
  display: flex;
  width: 65%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem;
  margin: 2rem;
  background-color: #fcfdff;
  border: 2px solid #fcfdff;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #293845;
  font-weight: bold;
}

.coin-item:hover {
  border: 2px solid #293845;
}

.coin-values {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.coin-image {
  display: flex;
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.coin-panel {
  border-top: 2px solid #29384533;
}

.error-text {
  color: #8d2424;
  font-weight: 700;
}

.negative-text {
  color: #8d2424;
}

.positive-text {
  color: #2e7d32;
}
